body {
	background-image: url("/nebo.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
    height: 100vh;

}

#game {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

#options {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

#options img {
	width: auto;
	height: 200px;
	cursor: pointer;
}

#result {
	margin-top: 50px;
}

#result img {
	width: 100px;
	height: 100px;
	margin-top: 20px;
}
